/*!*************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-4.use[1]!./assets/styles/app.css ***!
  \*************************************************************************************************/

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300');


/* .settings {
display: flex;
  height: 73px;
  float: left;
  background-repeat: no-repeat;
  width: 250px;
  margin: 0px;
  text-align: center;
  font-size: 20px;
  font-family: 'Strait', sans-serif;

} */

/* ScrolBar  */
/* .scrollbar {

  height: 90%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.scrollbar:hover {

  height: 90%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
} */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
 
body, html {
    box-sizing: border-box;
      margin: 0;
      padding: 0;
      width: 100vw;
overflow-x: hidden;
}

/* header {
  width: 100vw;
  height: 20vh;  
  display: flex;
  vertical-align: middle;
  position: relative;
 top: 0;
   justify-items: center;
    z-index: 2;
    justify-content: space-evenly;
}
  */

footer {
  position: relative;
  bottom: 0;
  padding-bottom: 0;
  top: 100%;
  width: 100%;
 min-height: 15vh;
overflow: hidden;
  color: #3391b3;
  background-color: #6b6666f6;
justify-items: center;
  z-index: 0;
  padding: 0;
}
  

.main {

    margin-top: 20vh; 
    margin-bottom: 5vh;
 
  }
  
.slider-container {
  position: relative;
  top: 0;
  width: 100vw;
max-height: 800px; 
background-position: center top;
  background-size: cover;
 z-index: 9;
 overflow: hidden;
}
 .home {
   max-width: 100vw;
   max-height: 800px;
   background-position: center top;
   background-size: cover;
    z-index: 9;
    overflow: hidden;
 }

    /* background-image: url("https://i.etsystatic.com/21916349/r/il/a756da/3962508333/il_794xN.3962508333_jf2j.jpg"); */
 .bg {
        animation: slide 20s ease-in-out infinite alternate;
        background-image: linear-gradient(-40deg, rgba(91, 36, 9, 0.448)50%, black 50%);
        /*-40deg is the angle of the cut and 50% is how much of the color takes up the screen*/
        bottom: 0;
        top: 0;
        left: -50%;
        opacity: .7;
        position: fixed;
        right: -50%;
        z-index: -1;
      }
    
      .bg2 {
        animation-direction: alternate-reverse;
        animation-duration: 20s;
        background-image: linear-gradient(-40deg, rgb(5, 58, 83) 50%, grey 50%);
      }
    
      .bg3 {
        animation-duration: 20s;
      }
    
      .content {
        background-color: rgba(145, 128, 128, 0.861);
        background-image: cover;
        border-radius: .25em;
        box-shadow: 0 0 .25em rgba(134, 132, 132, 0.25);
        box-sizing: border-box;
        left: 50%;
        padding: 10vmin;
        position: fixed;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 80%;
        z-index: -10;
     
      }

      .content .img {
       width: 100vw;
        z-index: -9;
      }
    
      @keyframes slide {
        0% {
          transform: translateX(-25%);
        }
    
        100% {
          transform: translateX(25%);
        }
      }
.material-symbols-outlined {
  font-size: 35px;
}
 
.container-nav {
  position: relative;
  width: 100vw;
  align-items: center;
  display: flex;
  margin: 0;
  z-index: 10;
  height: 15vh;
  padding: 0;

}

.nav {
  width: 100%;
  height: 15vh;
  position: fixed;
  z-index: 10;
  display: flex;
    /* -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; */

  justify-items: center;
  margin: 0 ;

}

.logo img {
  width: 125px;
}

 .v-icon__svg {
   width: 20px;
   height: 20px;
   z-index: 10;
 }
  
.nav div.logo {
  float: left;
  left: 5px;
  width: auto;
    height: auto;
   z-index: 10;


}

.sign-btns {
  display: flex;
  z-index: 2;
  height: 20px;
}

.user-toggler {
 
  height: 25px;
  color: #e6f2f7;
  z-index: 2;
}


 .nav-authentification {
  display: flex;
    list-style: none;
    vertical-align: middle;
    align-items: end;
    justify-items: center;
      z-index: 10;
      padding: 0 ;
      top: 0;
   
   text-decoration: none;
      order: 2;
        color: #cbc369cd;
          text-shadow: solid 4px #e4e4eb;
      width: 20vw;
  margin-left: 15%;
        font-size: 17px;
          /* font-family: 'Strait', sans-serif; */
          font-family: "Audiowide", sans-serif;
          font-weight: 200;
          }

 .nav-authentification ul { 
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
    list-style: none;
    top: 0;
 }

 .nav-authentification ul li a {
  vertical-align: middle; 
  margin: 5px;
    align-items: center;
   display: flex;
   list-style: none;
    justify-items: center;
 }

.nav div.main_list {
      height: 100%;
      width: 60%;
      display: flex;
      list-style: none;
      vertical-align: middle;
      align-items: center;
    
}

.nav div.main_list ul {
  width: 100%;
  height: auto;
  display: flex;
  list-style: none;
  vertical-align: middle;
  align-items: center;
  margin-left: 60%;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: 100%;
  padding: 0;
 
  display: flex;
    list-style: none;
 
}

.nav div.main_list ul li a {
  font-size: 17px;
    /* font-family: 'Strait', sans-serif; */
    font-family: "Audiowide", sans-serif;
    font-weight: 300;
   margin: 0;
    align-items: center;
  display: flex;
    list-style: none;
    vertical-align: middle;
    color: #cbc369cd;
    text-shadow: solid 4px #e4e4eb;
    margin: 0 20px;
}

.nav div.main_list ul li a:hover {
  color: #d7dbce;
}


.navTrigger {
  display: none;
}

.nav {
  padding-top: 20px;
padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;

} 

.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
}

.navTrigger i {
  background-color: #e6d23a;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(9px) rotate(0deg);
  }

  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(9px) rotate(0deg);
  }

  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-9px) rotate(0deg);
  }

  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-9px) rotate(0deg);
  }

  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

.affix {
  padding: 0;
  background-color: #2c2828;
 
}




 /* :root {
      --glow-hue: 222deg;
      --shadow-hue: 180deg;
      --spring-easing: linear(0, 0.002, 0.01 0.9%, 0.038 1.8%, 0.156, 0.312 5.8%, 0.789 11.1%, 1.015 14.2%,
          1.096, 1.157, 1.199, 1.224 20.3%, 1.231, 1.231, 1.226, 1.214 24.6%,
          1.176 26.9%, 1.057 32.6%, 1.007 35.5%, 0.984, 0.968, 0.956, 0.949 42%,
          0.946 44.1%, 0.95 46.5%, 0.998 57.2%, 1.007, 1.011 63.3%, 1.012 68.3%,
          0.998 84%, 1);
      --spring-duration: 1.33s;
    }
  
    @property --shimmer {
      syntax: "<angle>";
      inherits: false;
      initial-value: 33deg;
    }
  
    @keyframes shimmer {
      0% {
        --shimmer: 0deg;
      }
  
      100% {
        --shimmer: 360deg;
      }
    }
  
    @keyframes shine {
      0% {
        opacity: 0;
      }
  
      15% {
        opacity: 1;
      }
  
      55% {
        opacity: 1;
      }
  
      100% {
        opacity: 0;
      }
    }
  
    @keyframes text {
      0% {
        background-position: 100% center;
      }
  
      100% {
        background-position: -100% center;
      }
    }
  
    button {
      color: var(--bg);
      font-weight: 600;
      background-image: linear-gradient(90deg, #fcecfe, #fbf6e7, #e6fcf5); 
      background-image: linear-gradient(315deg,
          #c4fffce8 -10%,
          #bcd039ea 50%,
          #c58e29db 110%);
      padding: .8em 1.4em;
      position: relative;
      isolation: isolate;
      box-shadow: 0 2px 3px 1px hsl(var(--glow-hue) 50% 20% / 50%), inset 0 -10px 20px -10px hsla(var(--shadow-hue), 10%, 90%, 95%);
      border-radius: 0.66em;
      scale: 1;
      transition: all var(--spring-duration) var(--spring-easing);
    }
  
    button:hover:not(:active),
    button.active {
      transition-duration: calc(var(--spring-duration)*0.5);
      scale: 1.2;
      box-shadow: 0 4px 8px -2px hsl(var(--glow-hue) 50% 20% / 50%), inset 0 0 0 transparent;
    }
  
    button:active {
      scale: 1.1;
      transition-duration: calc(var(--spring-duration)*0.5);
    }
  
    .shimmer {
      position: absolute;
      inset: -40px;
      border-radius: inherit;
      mask-image: conic-gradient(from var(--shimmer, 0deg),
          transparent 0%,
          transparent 10%,
          black 36%,
          black 45%,
          transparent 50%,
          transparent 60%,
          black 85%,
          black 95%,
          transparent 100%);
      mask-size: cover;
      mix-blend-mode: plus-lighter;
      animation: shimmer 1s linear infinite both;
    }
  
    button:hover .shimmer::before,
    button:hover .shimmer::after,
    button.active .shimmer::before,
    button.active .shimmer::after {
      opacity: 1;
      animation: shine 1.2s ease-in 1 forwards;
    }
  
    .shimmer::before,
    .shimmer::after {
      transition: all 0.5s ease;
      opacity: 0;
      content: "";
      border-radius: inherit;
      position: absolute;
      mix-blend-mode: color;
      inset: 40px;
      pointer-events: none;
    }
  
    .shimmer::before {
      box-shadow: 0 0 3px 2px hsl(var(--glow-hue) 20% 95%),
        0 0 7px 4px hsl(var(--glow-hue) 20% 80%),
        0 0 13px 4px hsl(var(--glow-hue) 50% 70%),
        0 0 25px 5px hsl(var(--glow-hue) 100% 70%);
      z-index: -1;
    }
  
    .shimmer::after {
      box-shadow: inset 0 0 0 1px hsl(var(--glow-hue) 70% 95%),
        inset 0 0 2px 1px hsl(var(--glow-hue) 100% 80%),
        inset 0 0 5px 2px hsl(var(--glow-hue) 100% 70%);
      z-index: 2;
    }
  
    button .text {
      color: transparent;
      background-clip: text;
      background-color: var(--bg);
      background-image: linear-gradient(120deg, transparent, hsla(var(--glow-hue), 100%, 80%, 0.66) 40%, hsla(var(--glow-hue), 100%, 90%, .9) 50%, transparent 52%);
      background-repeat: no-repeat;
      background-size: 300% 300%;
      background-position: center 200%;
    }
  
    button:hover .text,
    button.active .text {
      animation: text .66s ease-in 1 both;
    } 
 */


 /* @media screen and (max-width:768px) {
  .navTrigger {
    display: block;
  }

  .nav div.logo {
    margin-left: 15px;
  }

  .nav div.main_list {
    width: 50%;
    height: 0;
    overflow: hidden;
  }

  .nav div.show_list {
    height: auto;
    display: none;
    width: 50%;
  }

  .nav div.main_list ul {
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #111111ca;

    background-position: center top;
  }

  .nav div.main_list ul li {
    width: 50%;
    text-align: right;
  }

  .nav div.main_list ul li a {
    text-align: center;
    width: 150%;
    font-size: 3rem;
    padding: 20px;
  }

  .nav div.media_button {
    display: block;
  } */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .carousel {
    margin: 0;
  }
 .container-nav {
   position: relative;
   width: 100%;
   align-items: center;
   display: flex;
   margin: 0;
   z-index: 10;
   height: 15vh;
   padding: 0;

 }
   
  .nav ul {
      width: auto;
      height: 15vh;
      position: fixed;
      z-index: 10;

  
      justify-items: center;
      margin: 0;
  
    }
  
     /* .nav div.main_list {
       width: 40%;
        display: flex;
        margin: 0;
        padding: 0;
     }
  
     .nav div.main_list ul {
     width: auto;  
     display: flex;
          height: 15vh;
         
            z-index: 10;
            display: flex; */
            /* -webkit-box-sizing: border-box;
                  -moz-box-sizing: border-box;
                  box-sizing: border-box; *
            justify-items: center;
            margin: 0;
     
     } 
            .nav-authentification {
              display: flex;
              list-style: none;
              vertical-align: middle;
             float: right;
              align-items: center;
              justify-content: end;
              z-index: 10;
              padding: 0;
              top: 0;
              text-decoration: none;
              order: 2;
              color: #cbc369cd;
              text-shadow: solid 4px #e4e4eb;
              width: 15vw;
              margin-left: 0%;
              font-size: 17px;
              /* font-family: 'Strait', sans-serif; *
              font-family: "Audiowide", sans-serif;
              font-weight: 200;
            }
      
            .nav-authentification ul {
              width: 100%;
              height: auto;
              display: flex;
              list-style: none;
              top: 0;
            }
      
            .nav-authentification ul li a {
              vertical-align: middle;
              margin: 5px;
              align-items: center;
              display: flex;
              list-style: none;
              position: relative;
             
            }
  */
    /* .nav-authentification  {
              width: 15%;
            
            }
    .nav-authentification ul {
              width: auto;
                margin-right: 5vw;
                  padding: 0;
                  overflow: hidden;
                     }
    .nav-authentification i {  
       font-size: 2rem;
       padding: 0;
       margin: auto;
     } */

}


    /* .nav-authentification  ul{
      margin-right: 30px;
    } */


/* @media (max-width:768px) {
  .navTrigger {
      display: block;
    }
    .nav-authentification {
     margin-right: 20vw;
    }

                .nav {
                  padding: 0;
                  margin: 0;
                  display: flex;
                  align-items: center;
                  z-index: 10;
                  justify-items: center;
        
                }
        
                .container-nav {
        
                  padding: 0;
                  margin: 0;
                  width: 100%;
                  align-items: center;
                  z-index: 10;
                  justify-items: center;
                }
    
    .nav div.logo {
      margin-left: 15px;
      width: auto;
        height: 120px;
    }
   
    .sign-btns {
      display: flex;
      z-index: 10;
            }
      
     .user-toggler {
       display: flex;
       height: 20px;
       color: #e6f2f7;
       z-index: 10;
            }
      
    .logo img {
      width: 125px;
            }

    .nav div.main_list {
      width: 100%;
      height: 0;
      overflow: hidden;  
      

      
    }
  
    .nav div.show_list {
      height: 100%;
      display: none;
        transform: translateY(94%);
    
    }
  
    .nav div.main_list ul {
      flex-direction: column;
      width: 100vw;
    height: 100%;
      padding: 0;
      background-color: #111;
     z-index: 10;
     left: 0;
      
    }

    .nav div.main_list ul li {
      width: 100vw;
      text-align: left;
   
    
    }
  
    .nav div.main_list ul li a {
      text-align: left;
      width: 100%;
      font-size: 3rem;
      padding: 5px; 
    }
  
    .nav div.media_button {
      display: block;
    }
        .next,
        .prev {
          margin-top: 20vh;
        }
  } */
   
   @media (max-width:768px) {
  .navTrigger {
    display: block;
  }

  /* .nav {
    padding: 0;
    margin: 0;
   
    align-items: center;
    z-index: 10;
    justify-items: center;

  } */

  .container-nav {
 display: flex;
 top:0;
    padding: 0;
    margin: 0;
    width: 100vw;
    align-items: center;
    z-index: 10;
  } 

  .nav-authentification {
    display: flex;
    align-items: center;
    z-index: 10;
    padding: 0;
    margin: 0;
    margin-right: 5px;
    order: 2;
    justify-content: center;
position: absolute;
  width: 200px;

  } 

 .nav-authentification ul {
  width: 100%;
  left: 100%;
  margin: 10px;
  top: 22px;
 
 }
    .nav-authentification ul li {

      margin: 15px;
      display: flex;
      
    }

  .sign-btns {
    display: flex;
    z-index: 10;
  }

  .user-toggler {
    display: flex;
    height: 20px;
    color: #e6f2f7;
    z-index: 10;
  }

  .nav div.logo {
    top:0;
    margin-left: 20px;

    position: absolute;
  }

/* .logo img {
  max-width: 10rem;
  max-height: 10.5rem;
} */

   .nav div.main_list {
    width: 100%;
    height: 0;
    overflow: hidden;
  }

  .nav div.show_list {
    height: auto;
    display: none;
    background-color: #232121f1;
  }

  .nav div.main_list ul {
    flex-direction: column;
    display: block;
    width: 100%;
    height: auto;
    margin-top: 50vh;

    background-color: #111;
    background-position: center top;
  }

  /* .nav div.main_list ul li {
    width: 50%;
    text-align: left;
  } */

  .nav div.main_list ul li a {
    text-align: left;
    width: 100%;
    font-size: 3rem;
    padding: 20px;
    margin: 0;
  }

  .nav div.media_button {
    display: block;
  } 
   }
  /* .next,
  .prev {
    margin-top: 50vh;
  } */
 

 /* @media screen and (max-width:768px) {
  .navTrigger {
    display: block;
  }

  .nav div.logo {
    left: 15px;
    position: absolute;
  }

.auth {
  position: absolute;
}

  .nav div.main_list {
    width: 50%;
    height: 0;
    overflow: hidden;
  }

  .nav div.show_list {
    height: auto;
    display: none;
  }

  .nav div.main_list ul {
    flex-direction: column;
    width: 1000%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #262121d4; */
    /*same background color of navbar*
    background-position: center top;
  }

  .nav div.main_list ul li {
    width: 100%;
    text-align: right;
  }

  .nav div.main_list ul li a {
    text-align: center;
    width: 100%;
    font-size: 3rem;
    padding: 20px;
  }

  .nav div.media_button {
    display: block;
  }
} 


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

/* .navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
}

.navTrigger i {
  background-color: #fff;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(9px) rotate(0deg);
  }

  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(9px) rotate(0deg);
  }

  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-9px) rotate(0deg);
  }

  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-9px) rotate(0deg);
  }

  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

.affix {
  padding: 0;
  background-color: #111;
} */





/* 
.myH2 {
  text-align: center;
  font-size: 4rem;
}

.myP {

  padding-left: 15%;
  padding-right: 15%;
  font-size: 20px;
} */

/* @media all and (max-width:700px) {
  .myP {
    padding: 2%;
  }
} */

/* a {
      display: flex;
      justify-items: center;
      vertical-align: center;
      justify-content: center;
      font-family: 'quicksandlight', Helvetica, Arial;
      font-style: white;
      text-shadow: -1px -1px 4px rgba(0, 0, 0, 0.4);
      filter: dropshadow(color=#6f707e5c, offx=1, offy=1);
  
      text-align: center;
  
    }

a:hover {
           color: rgba(255, 255, 5, 3);
         } */

/* h3,
h4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #f1d39f;
}

:root {
  --glow-hue: 222deg;
  --shadow-hue: 180deg;
  --spring-easing: linear(0, 0.002, 0.01 0.9%, 0.038 1.8%, 0.156, 0.312 5.8%, 0.789 11.1%, 1.015 14.2%,
      1.096, 1.157, 1.199, 1.224 20.3%, 1.231, 1.231, 1.226, 1.214 24.6%,
      1.176 26.9%, 1.057 32.6%, 1.007 35.5%, 0.984, 0.968, 0.956, 0.949 42%,
      0.946 44.1%, 0.95 46.5%, 0.998 57.2%, 1.007, 1.011 63.3%, 1.012 68.3%,
      0.998 84%, 1);
  --spring-duration: 1.33s;
}

@property --shimmer {
  syntax: "<angle>";
  inherits: false;
  initial-value: 33deg;
}

@keyframes shimmer {
  0% {
    --shimmer: 0deg;
  }

  100% {
    --shimmer: 360deg;
  }
}

@keyframes shine {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  55% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes text {
  0% {
    background-position: 100% center;
  }

  100% {
    background-position: -100% center;
  }
}

button {
  color: var(--bg);
  font-weight: 600;
  /*     background-image: linear-gradient(90deg, #fcecfe, #fbf6e7, #e6fcf5); *
  background-image: linear-gradient(315deg,
      #c4fffce8 -10%,
      #bcd039ea 50%,
      #c58e29db 110%);
  padding: .8em 1.4em;
  position: relative;
  isolation: isolate;
  box-shadow: 0 2px 3px 1px hsl(var(--glow-hue) 50% 20% / 50%), inset 0 -10px 20px -10px hsla(var(--shadow-hue), 10%, 90%, 95%);
  border-radius: 0.66em;
  scale: 1;
  transition: all var(--spring-duration) var(--spring-easing);
}

button:hover:not(:active),
button.active {
  transition-duration: calc(var(--spring-duration)*0.5);
  scale: 1.2;
  box-shadow: 0 4px 8px -2px hsl(var(--glow-hue) 50% 20% / 50%), inset 0 0 0 transparent;
}

button:active {
  scale: 1.1;
  transition-duration: calc(var(--spring-duration)*0.5);
}

.shimmer {
  position: absolute;
  inset: -40px;
  border-radius: inherit;
  mask-image: conic-gradient(from var(--shimmer, 0deg),
      transparent 0%,
      transparent 10%,
      black 36%,
      black 45%,
      transparent 50%,
      transparent 60%,
      black 85%,
      black 95%,
      transparent 100%);
  mask-size: cover;
  mix-blend-mode: plus-lighter;
  animation: shimmer 1s linear infinite both;
}

button:hover .shimmer::before,
button:hover .shimmer::after,
button.active .shimmer::before,
button.active .shimmer::after {
  opacity: 1;
  animation: shine 1.2s ease-in 1 forwards;
}

.shimmer::before,
.shimmer::after {
  transition: all 0.5s ease;
  opacity: 0;
  content: "";
  border-radius: inherit;
  position: absolute;
  mix-blend-mode: color;
  inset: 40px;
  pointer-events: none;
}

.shimmer::before {
  box-shadow: 0 0 3px 2px hsl(var(--glow-hue) 20% 95%),
    0 0 7px 4px hsl(var(--glow-hue) 20% 80%),
    0 0 13px 4px hsl(var(--glow-hue) 50% 70%),
    0 0 25px 5px hsl(var(--glow-hue) 100% 70%);
  z-index: -1;
}

.shimmer::after {
  box-shadow: inset 0 0 0 1px hsl(var(--glow-hue) 70% 95%),
    inset 0 0 2px 1px hsl(var(--glow-hue) 100% 80%),
    inset 0 0 5px 2px hsl(var(--glow-hue) 100% 70%);
  z-index: 2;
}

button .text {
  color: transparent;
  background-clip: text;
  background-color: var(--bg);
  background-image: linear-gradient(120deg, transparent, hsla(var(--glow-hue), 100%, 80%, 0.66) 40%, hsla(var(--glow-hue), 100%, 90%, .9) 50%, transparent 52%);
  background-repeat: no-repeat;
  background-size: 300% 300%;
  background-position: center 200%;
}

button:hover .text,
button.active .text {
  animation: text .66s ease-in 1 both;
} */


.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  height: auto;
  max-width: 450px;
  /* border-image: linear-gradient(#e1a85d, #edefec) 30; */
  border-radius: 15px;
  transition: transform 0.5s ease;
  cursor: pointer;
  background-color: transparent;
  /* border: 1px solid #aeab5b80; */

  position: relative;
  overflow: hidden;
}

.button {
  display: flex;
  justify-content: center;
}

.btn-link {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.btn-link:hover {
  color: black;
  background-color: hsl(54, 33%, 45%);
}

.img-card {
  max-height: 300px;
  width: 100%;

  object-fit: cover;

}

.description {
  border: 2px solid rgb(179, 166, 166);
  border-radius: 4px;
  padding: 10px;
}


/* @keyframes slideAnimation {
  
  0% {
     
      transform: translateX(110%);
  }
  
  50% {
  
    transform: translateX(60%);
  }
  100% {
     
      transform: translateX(110%);
  }
  }
  
  
  
  .animated-img {
    
    animation: slideAnimation 6s infinite;
  
  
  }
  

  
.carousel-image {
   
    height: auto; 
    width: auto; 
   position: relative;
  
    z-index: -1;
  } */




.cards {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  height: auto;
  width: 80%;
  /* border-image: linear-gradient(#e1a85d, #edefec) 30; */
  border-radius: 15px;
  transition: transform 0.5s ease;
  cursor: pointer;
  background-color: transparent;
  /* border: 1px solid #aeab5b80; */
  z-index: 0;
  position: relative;
  overflow: hidden;
}

.card .plats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  min-height: 100%;
  width: auto;
  /* border-image: linear-gradient(#e1a85d, #edefec) 30; */
  border-radius: 15px;
  transition: transform 0.5s ease;
  cursor: pointer;
  background-color: transparent;
  /* border: 1px solid #aeab5b80; */
  z-index: 0;
  position: relative;
  overflow: hidden;
}

/* .button {
  display: flex;
  justify-content: center;
}

.btn-link {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.btn-link:hover {
  color: black;
  background-color: white;
} */

.img-card {
  max-height: 300px;
 

  object-fit: cover;

}

.description {
  border: 2px solid rgb(179, 166, 166);
  border-radius: 4px;
  padding: 10px;
}

/* .carousel-button {
    z-index: 1;
   margin: 100%;
    position: relative;


  } */

/* span.title  {
 
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: x-large;
    display: block;
  position: relative;
    font-weight: 1000;
    font-family: "neon-tubes-2-regular";
    z-index: 1;
 justify-content: space-between;
    justify-items: center;
    background-color: #3c505b77;
    position: relative;
   margin-bottom: 10;

    letter-spacing: 0.05rem;
    padding: 5000;
   
    
  } */


hr {
  height: 1.2rem;

}



h1 {
  font-family: "neon-tubes-2-regular";
  src:
    url("https://assets.codepen.io/2585/NeonTubes2.otf") format("woff"),
    url("https://assets.codepen.io/2585/NeonTubes2.otf") format("opentype"),
    url("https://assets.codepen.io/2585/NeonTubes2.otf") format("truetype"),

}



.neon-red {
  --neon: hsl(355 100% 95%);
  --neon-glow: hsl(355 98% 40%);
}

.neon-blue {
  --neon: hsl(192 100% 95%);
  --neon-glow: hsl(194 100% 40%);
}

h1>i {
  color: var(--neon);
  text-shadow:
    0 0 20px var(--neon-glow),
    0 0 2.5vmin var(--neon-glow),
    0 0 5vmin var(--neon-glow),
    0 0 10vmin var(--neon-glow),
    0 0 15vmin var(--neon-glow);
}

@media (dynamic-range: high) {
  .neon-red {
    --neon-glow: color(display-p3 1 0 0);
  }

  .neon-blue {
    --neon-glow: color(display-p3 0 0.75 1);
  }

  h1>i {
    text-shadow:
      0 0 2.5vmin var(--neon-glow),
      0 0 10vmin var(--neon-glow),
      0 0 15vmin var(--neon-glow);
  }
}



h1 {
  text-align: center;
  font-family: "neon-tubes-2-regular", sans-serif;

}


.pull-right {
  float: right;
}

.pull-leftt {
  float: left;
}

p {
  color: #83a9b7;


}



/* .contentContainer .container  {
   
    align-items: center;
  
top:40vh;
    margin-top: 20vh;
    margin-bottom: 10vh;
    margin-right: 5px;
    margin-left: 5%;
justify-content: center;
     min-height: 100%;
     /* transform-style: preserve-3d; *
  
   } */

/* .carousel li {
        cursor: pointer;
        display: flex;
          margin: 0;
      
        height: inherit;
          list-style: none;
          /* background-position: center; 
          background-size: cover;
          transform-style: preserve-3d;
   } */
    #search {
      height: 35px;
      width: auto;
      min-width: 30px;
      position: relative;
      order: 6;
    }
  
    #search input {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 35px;
      height: 35px;
      border: 1px solid #c0a2a2;
      border-radius: 100%;
      background: transparent;
      color: #fafafa;
      font-size: 16px;
      font-weight: 400;
      outline: none;
      -webkit-transition: width 100ms ease-in-out;
      -moz-transition: width 100ms ease-in-out;
      transition: width 100ms ease-in-out;
    }
  
    #search input::-webkit-input-placeholder {
      color: transparent;
    }
  
    #search input:-moz-placeholder {
      color: transparent;
    }
  
    #search input::-moz-placeholder {
      color: transparent;
    }
  
    #search input:-ms-input-placeholder {
      color: transparent;
    }
  
    #search .search {
      background-color: transparent;
      position: absolute;
      top: 0;
      left: 0;
      height: 35px;
      width: 35px;
      padding: 0;
      border-radius: 100%;
      outline: none;
      border: 0;
      color: #b1a6a6;
      cursor: pointer;
      -webkit-transition: all 300ms ease-in-out;
      -moz-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
    }
  
    #search .search:before,
    #search .search:after {
      content: "";
      position: absolute;
      width: 1rem;
      height: 0.1rem;
      background-color: #beb6b6;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 3.3rem;
      left: 3rem;
      -webkit-transition: all 300ms ease-in-out;
      -moz-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
    }
  
    #search .close {
      -webkit-transition: all 400ms ease-in-out;
      -moz-transition: all 400ms ease-in-out;
      transition: all 400ms ease-in-out;
      right: 0;
      left: inherit;
    }
  
    #search .close:before {
      content: "";
      position: absolute;
      top: 1.7rem;
      left: 1.5rem;
      width: 27px;
      height: 4px;
      margin-top: -1px;
      margin-left: -13px;
      background-color: #c1b7ab;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: all 200ms ease-in-out;
      -moz-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;
    }
  
    #search .close:after {
      content: "";
      position: absolute;
      top: 1.7rem;
      left: 1.5rem;
      width: 27px;
      height: 4px;
      margin-top: -1px;
      margin-left: -13px;
      background-color: #ca9964;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition: all 200ms ease-in-out;
      -moz-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;
    }
  
    #search .square {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 4rem 0 1rem;
      width: 100%;
      height: 35px;
      border: 1px solid #333;
      border-radius: 0;
      color: #b5aeae;
      background-color: transparent;
      -webkit-transition: all 300ms ease-in-out;
      -moz-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
    }
  
    #search .square::-webkit-input-placeholder {
      color: #bfb9b2;
    }
  
    #search .square:-moz-placeholder {
      color: #e8e0d9;
    }
  
    #search .square::-moz-placeholder {
      color: #ca9964;
    }
  
    #search .square:-ms-input-placeholder {
      color: #ca9964;
    }
  
    #search .square.active #search .square:hover,
    #search .square:focus,
    #search .square:active {
      border-color: #ca9964;
    }
 /* #search {
  height: 35px;
  width: 35px;
  position: relative;
  align-items: center;
} 

 #search input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  border: 1px solid #c0a2a2;
  border-radius: 100%;
  background: transparent;
  color: #fafafa;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  -webkit-transition: width 100ms ease-in-out;
  -moz-transition: width 100ms ease-in-out;
  transition: width 100ms ease-in-out;
    align-items: center;
}

#search input::-webkit-input-placeholder {
  color: transparent;
}

#search input:-moz-placeholder {
  color: transparent;
}

#search input::-moz-placeholder {
  color: transparent;
}

#search input:-ms-input-placeholder {
  color: transparent;
}

#search .search {
  background-color: transparent;
  position: absolute;
    align-items: center;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  padding: 0;
  border-radius: 100%;
  outline: none;
  border: 0;
  color: #b1a6a6;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#search .search:before,
#search .search:after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 0.1rem;
  background-color: #beb6b6;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 3.3rem;
  left: 3rem;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#search .close {
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  right: 0;
  left: inherit;
}

#search .close:before {
  content: "";
  position: absolute;
  top: 1.7rem;
  left: 1.5rem;
  width: 27px;
  height: 4px;
  margin-top: -1px;
  margin-left: -13px;
  background-color: #c1b7ab;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#search .close:after {
  content: "";
  position: absolute;
  top: 1.7rem;
  left: 1.5rem;
  width: 27px;
  height: 4px;
  margin-top: -1px;
  margin-left: -13px;
  background-color: #ca9964;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#search .square {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 4rem 0 1rem;
  width: 100%;
  height: 35px;
  border: 1px solid #333;
  border-radius: 0;
  color: #b5aeae;
  background-color: transparent;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#search .square::-webkit-input-placeholder {
  color: #bfb9b2;
}

#search .square:-moz-placeholder {
  color: #e8e0d9;
}

#search .square::-moz-placeholder {
  color: #9d8770df;
}

#search .square:-ms-input-placeholder {
  color: #565049d6;
}

#search .square.active #search .square:hover,
#search .square:focus,
#search .square:active {
  border-color: #f5f5f5;
}  */ */

.accordion-group {
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 100%;
  min-height: 50%;
  display: flex;
  align-items: center;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}

.accordion-group li {
  cursor: pointer;
  position: relative;
  display: flex;
  overflow: hidden;
  margin: 0;
  padding: 1.6em;
  list-style: none;
  width: 16.66666667%;
  height: inherit;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.accordion-group li h2 {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  letter-spacing: 0.15rem;
  padding: 0;
  font-weight: 300;
  margin: 6.5rem 0 0;
}

.accordion-group li .accordion-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.accordion-group li section {
  display: flex;
  align-items: center;
  width: 75%;
  height: 100%;
}

.accordion-group li section.big-section {
  width: 100%;
}

.accordion-group li section article {
  display: table-cell;
  vertical-align: middle;
  padding: 4rem;
  position: relative;
  right: -200%;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.accordion-group li section article p {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1.6rem;
  color: #333;
  font-size: 1.6rem;
  letter-spacing: 0.15rem;
}

.accordion-group li section article p:before,
.accordion-group li section article p:after {
  content: "";
  display: block;
  height: 1px;
}

.accordion-group li.out {
  width: 50%;
}

.accordion-group li.out section article {
  right: 0;
}


.accordion-group {
  height: 360px;
}

.accordion-group li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion-group li.out h3 {
  opacity: 0;
}

.accordion-group li h3 {
  opacity: 1;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 2.5rem;
  padding: 0;
  margin: 10rem 0;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* .navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
}

.navTrigger i {
  background-color: #c6a220;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(9px) rotate(0deg);
  }

  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(9px) rotate(0deg);
  }

  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-9px) rotate(0deg);
  }

  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-9px) rotate(0deg);
  }

  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

.affix {
  padding: 0;
  background-color: #111;
}






.myH2 {
  text-align: center;
  font-size: 4rem;
}

.myP {
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 20px;
} */

/* @media screen and (min-width: 768px) and (max-width: 1024px) {
.nav {
    width: 100vw;
    height: 15vh;
    position: fixed;
    display: flex;
    vertical-align: middle;
    justify-items: center;
    z-index: 2;
    justify-content: space-evenly;
    padding: 0 auto;
  }
} */

/* @media screen and (min-width: 768px) and (max-width: 1024px) {
  .carousel {
    margin: 0;
  } */



  /* .container-carousel {
    padding: 0;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 270px;
    height: 300px;

    margin-bottom: 220px;

    position: relative;
    transform-origin: center center;
    perspective: 2000px;

    transform-style: preserve-3d;
    transition: transform 1.5s;
  } */

  /* .next,
  .prev {
    margin-top: 20vh;
  }
} */

/* @media screen and (max-width:768px) { */
/* @media (max-width: 768px) {
.navTrigger {
    display: block;
      }
.nav {
    padding: 0;
    margin: 0;
    display: flex;
align-items: center;
  z-index: 10;
   justify-items: center;
  
  } */
/* .container-nav {

  padding: 0;
    margin:0;
 width: 100%;
    align-items: center;
    z-index: 10;
    justify-items: center;
}
 .auth {
      display: flex;
      position: relative;
      align-items: center;
    z-index: 10;
   padding: 0;
margin: 15px;
   margin-right: 20vh;
  
   
        min-width: 15vh;
      justify-content: space-between;
      

    
        }

  .sign-btns {
    display: flex;
    z-index: 10;
  }

  .user-toggler {
    display: flex;
    height: 20px;
    color: #e6f2f7;
    z-index: 10;
  }

 .nav div.logo {
   margin-left: 15px;
 }

         .nav div.main_list {
           width: 100%;
           height: 0;
           overflow: hidden;
         }
    
         .nav div.show_list {
           height: auto;
           display: none;
         }
    
         .nav div.main_list ul {
           flex-direction: column;
           display: block;
           width: 100%;
           height: 100vh;
           top: 15vh;
           right: 50%;
           left: 0;
          
           background-color: #111;
           /*same background color of navbar*
           background-position: start top;
         }
    
         .nav div.main_list ul li {
           width: 100%;
           text-align: left;
         }
    
         .nav div.main_list ul li a {
           text-align: left ;
           width: 100%;
           font-size: 3rem;
           padding: 20px;
           margin: 0;
         }
    
         .nav div.media_button {
           display: block;
         }
         
 */


  /* #contentContainer {
    position: relative;
    margin-top: 50vh;
    justify-content: center;
    width: auto;

    align-items: center;

  }

  .main-navlinks {
    width: 20vh;
    vertical-align: text-top;
  }

  .nav-icon {
    order: 2;
  }

  .toggle {
    display: flex;
    position: relative;
    justify-content: start;
    width: 50px;
    height: 50px;
    justify-items: center;
    background: #afafbbaf;
    box-shadow: 0 5px 15px rgba(119, 119, 128, 0.952);
    border-radius: 6px;
    border-color: #dacece;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    margin-left: 15px;
    padding: 0 10px;
    z-index: 15;

  }

  .toggle span {
    position: absolute;

    width: 38px;
    height: 5px;
    background: #eb080cab;
    border-radius: 10px;

    border-width: 12px;
    transition: 1s;
  }

  .toggle span:nth-child(1) {
    transform: translateY(-15px);
    width: 34px;
    left: 12px;
  }

  .toggle.active span:nth-child(1) {
    width: 30px;


    transform: translateY(0) rotate(45deg);
    transition-delay: 0.125s;
  }

  .toggle span:nth-child(2) {
    transform: translateY(15px);
    width: 25px;
    left: 10px;
    right: 20px;
  }

  .toggle.active span:nth-child(2) {

    width: 38px;
    transform: translateY(0) rotate(315deg);
    transition-delay: 0.25s;
  }

  .toggle.active span:nth-child(3) {
    transform: translateX(55px);
  }



  .navlinks-container {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background: #c5c2c2ee;
    top: 100%;
    left: 0;
    transform: translate(-100%);
    height: 100vh;
    padding: 15px 50px 15px 20px;
    border-right: 1px solid #c5c5c6;
  }

  .open {
    transform: translate(0%);
  }

  .navlinks-container a {
    font-size: 15px;
    margin: 10px 0px;
  }


  .nav-authentication {
    order: 4;
    display: block;

  }


  .user-toggler {
    order: 3;
    display: flex;
    ;
    cursor: pointer;

  }

  .user-toggler img {
    width: 20px;
    color: #898888;
    border: solid 2px;
  } */

  @media (max-width:768px) {
    .accordion-group {
        height: 360px;
      }
    
      .accordion-group li {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
      .accordion-group li.out h3 {
        opacity: 0;
      }
    
      .accordion-group li h3 {
        opacity: 1;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        transform: rotate(90deg);
        width: 2.5rem;
        padding: 0;
        margin: 10rem 0;
      }
    }
    
    @-webkit-keyframes rotate {
      from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
      }
    
      to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    
    @-moz-keyframes rotate {
      from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
      }
    
      to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    
    @keyframes rotate {
      from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
      }
    
      to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    

/*sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoibWFpbi5jc3MiLCJtYXBwaW5ncyI6Ijs7O0FBQUE7SUFDSSx5QkFBeUI7QUFDN0IiLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly8vLi9hc3NldHMvc3R5bGVzL2FwcC5jc3MiXSwic291cmNlc0NvbnRlbnQiOlsiYm9keSB7XG4gICAgYmFja2dyb3VuZC1jb2xvcjogc2t5Ymx1ZTtcbn1cbiJdLCJuYW1lcyI6W10sInNvdXJjZVJvb3QiOiIifQ==#}
