{% extends 'base.html.twig' %}

{% block title %}Catégories
{% endblock %}

{% block body %}

	{% block stylesheets %}
		{# <link rel="stylesheet" href="{{ asset('css/style.css')}}"> #}
	{% endblock %}


<div class="container-fluid ">

	<div class="row">
		<ul class="accordion-group" id="accordion">
			{% for categorie in categories %}
				<li>

					<img src="{{ asset(categorie.image) }}">
					<div class="accordion-overlay cards">
						<h2>{{ categorie.libelle }}</h2>
					</div>

				{% endfor %}
				{# <section class="hidden-xs">
				                  <article>
				                    <p>Rual and rustic</p>
				                  </article>
				                </section> #}
			</li>
		</ul>
	</div>
</div>
{% for plats in plat %}

<div
	id="plats-container" class="card">
  </div>
{% endfor %}


{% block javascripts %}
	<script src="js/accordions.js"></script>
<script>
	document.addEventListener('DOMContentLoaded', function () {
const images = document.querySelectorAll('.categorie-image');
const platsContainer = document.getElementById('plats-container');

images.forEach(image => {
image.addEventListener('click', function () {
const categorieId = this.getAttribute('data-categorie-id');
fetchPlats(categorieId);
});

image.addEventListener('mouseover', function () {
const categorieId = this.getAttribute('data-categorie-id');
fetchPlats(categorieId);
});
});

function fetchPlats(categorieId) {
fetch(`/get-plats-by-categorie/${categorieId}`).then(response => response.json()).then(data => {
platsContainer.innerHTML = '';
data.plats.forEach(plat => {
const platElement = document.createElement('div');
platElement.innerHTML = `
                                    <h3>${
plat.name
}</h3>
                                    <p>${
plat.description
}</p>
                                `;
platsContainer.appendChild(platElement);
});
}).catch(error => console.error('Error fetching plats:', error));
}
});
</script>

	{# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> #}
{% endblock %}{% endblock %}




